@model AjourBT.Domain.Entities.Insurance

@{
    ViewBag.Title = "Delete";
    Layout = null;

}
<p>Delete insurance of @Model.InsuranceOf.FirstName @Model.InsuranceOf.LastName</p>

<p>Please confirm</p>

<table>
    <tr>
        <td>

            @using (Html.BeginForm("InsuranceDelete", "BTM", FormMethod.Post, new { id = "DeleteInsuranceForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="searchString" value="@ViewBag.SearchString">
                <input type="hidden" name="id" value="@ViewBag.EmployeeID">

                <button type="submit" data-href="/BTM/DeleteConfirmed/@Model.EmployeeID" id="OKDeleteInsurance" name="Command" value="OK">
                    OK
                </button>
            }
        </td>

        <td>
            <button type="submit" id="btnCancelDeleteInsurance" name="Command" value="Cancel">
                Cancel
            </button>
        </td>
    </tr>
</table>
