@model AjourBT.Domain.ViewModels.RegistrationDateViewModel

@{
    Layout = null;
}


<script type="text/javascript">
    clearTimeout(timer);
    timer = window.setTimeout(function () { location.reload(); }, timeout);
</script>

<div id="ModelError" style="max-width: 400px; color: red"></div>

<h4>@ViewBag.EmployeeInformation</h4>
<br>
@using (Html.BeginForm("VisaRegCreate", "BTM", FormMethod.Post, new { id = "CreateVisaregDateForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="searchString" value="@ViewBag.SearchString">
    <input type="hidden" name="EmployeeID" value="@ViewBag.EmployeeID">

    <fieldset>
        <legend>VisaRegistrationDate</legend>

<table>
        <tr>
            <td><b>@Html.Label("Type")</b></td>
            <td>@Html.TextBoxFor(model => model.VisaType, new { @class = "editorReadOnly" })
                <br /> @Html.ValidationMessageFor(model => model.VisaType)</td>
        </tr>
        <tr>
            <td><b>@Html.Label("Date")</b></td>
            <td>@Html.TextBoxFor(model => model.RegistrationDate, new { @readonly = true, @class = "editorForCalendar" })
            <br />@Html.ValidationMessageFor(model => model.RegistrationDate)</td>
        </tr>
        <tr>
            <td><b>@Html.Label("Time")</b></td>
            <td>
                @Html.TextBoxFor(model => model.RegistrationTime, new { @class = "editorForCalendar", @id = "visaRegTime" })
                <br />@Html.ValidationMessageFor(model => model.RegistrationTime)
            </td>
        </tr>

        <tr>
            <td><b>@Html.Label("City")</b></td>
            <td>
                @Html.TextBoxFor(model => model.City, new {@Value = "Lviv",  @class = "editorReadOnly" })
                <br />@Html.ValidationMessageFor(model => model.City)

            </td>
        </tr>

        <tr>
            <td><b>@Html.Label("Reg #")</b></td>
            <td>
                @Html.TextBoxFor(model => model.RegistrationNumber, new { @class = "editorReadOnly" })
                <br />@Html.ValidationMessageFor(model => model.RegistrationNumber)

            </td>
        </tr>

        <tr>
            <td><b>@Html.Label("Payment Date")</b></td>
            <td>
                @Html.TextBoxFor(model => model.PaymentDate, new { @readonly = true, @class = "editorForCalendar" })
                <br />@Html.ValidationMessageFor(model => model.PaymentDate)
            </td>
        </tr>
        <tr>
            <td><b>@Html.Label("Payment Time")</b></td>
            <td>
                @Html.TextBoxFor(model => model.PaymentTime, new { @class = "editorForCalendar", @id = "visaPaymentTime" })
                <br />@Html.ValidationMessageFor(model => model.PaymentTime)
            </td>
        </tr>
        <tr>
            <td><b>@Html.Label("Payment PIN")</b></td>
            <td>
                @Html.TextBoxFor(model => model.PaymentPIN, new { @class = "editorReadOnly" })
                <br />@Html.ValidationMessageFor(model => model.PaymentPIN)

            </td>
        </tr>

</table>
        <br />
        @*<div style="float: left">
            <button type="submit" id="btnSaveRegDate"
                    name="Command" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text">Save</span>
            </button>
        </div>*@
    </fieldset>
}