@model AjourBT.Domain.Entities.BusinessTrip

@{
    Layout = null;
}

<fieldset>
    <legend>BusinessTrip</legend>
    <table>
        <tr>
            <td>
                <b>Name</b>
            </td>
            <td>
                @(Model.BTof.FirstName + " " + Model.BTof.LastName + " (" + Model.BTof.EID + ")")
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Location)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Location.Title)
            </td>
        </tr>

        <tr>
            <td>
                <b>From</b>
            </td>
            <td>
                @Html.CustomDisplayDateTime(Model.StartDate)
            </td>
        </tr>

        <tr>
            <td>
                <b>To</b>
            </td>
            <td>
                @Html.CustomDisplayDateTime(Model.EndDate)
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Purpose)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Purpose)
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Manager)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Manager)
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Responsible)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Responsible)
            </td>
        </tr>

        @if (Model.Comment != null && Model.Comment != String.Empty)
        {
            <tr>
                <td>
                    @Html.LabelFor(model => model.Comment)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Comment, new { @readonly = true, @class = "textAreaReadOnly" })
                </td>
            </tr>
        }
        
        @if (Model.BTMComment != null && Model.BTMComment != String.Empty)
        {
            <tr>
                <td>
                    @Html.LabelFor(model => model.BTMComment)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.BTMComment, new { @readonly = true, @class = "textAreaReadOnly" })
                </td>
            </tr>
        }

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Invitation)</b>
            </td>
            <td>
                @Html.DisplayFor(model => model.Invitation)
                @*@if (Model.Invitation == true)
                    {
                        <b>confirmed</b>
                    }
                    else
                    {
                        <em>not confirmed</em>
                    }*@
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Habitation)</b>
            </td>
            <td>
                @Html.TextAreaFor(model => model.Habitation, new { @readonly = true, @class = "textAreaReadOnly" })
                @Html.DisplayFor(model => model.HabitationConfirmed)
            </td>
        </tr>

        <tr>
            <td>
                <b>@Html.DisplayNameFor(model => model.Flights)</b>
            </td>
            <td>
                @Html.TextAreaFor(model => model.Flights, new { @readonly = true, @class = "textAreaReadOnly" })
                @Html.DisplayFor(model => model.FlightsConfirmed)
            </td>
        </tr>


        <tr>
            <td>
                @Html.LabelFor(model => model.AccComment)
            </td>
            <td>
                @Html.TextAreaFor(model => model.AccComment, new { @readonly = true, @class = "textAreaAccCommentReadOnly" })
            </td>
        </tr>     

    </table>

</fieldset>