@model int
<script type="text/javascript">

    $(document).ready(function () {

        $("#tabsABM").tabs({ selected: @Model })
        $("li#ABMLink a").css({
            'color': '#E1701D'
        })
    });
</script>


@Scripts.Render("~/bundles/fngantt")
@Scripts.Render("~/bundles/AjourBTScript/DatesValidation")
@Scripts.Render("~/bundles/AjourBTScript/ABMDatesValidation") 
@Scripts.Render("~/bundles/AjourBTScript/JourneyScript") 
@Scripts.Render("~/bundles/AjourBTScript/CountryScript") 
@Scripts.Render("~/bundles/AjourBTScript/HolidayScript")
@Scripts.Render("~/bundles/AjourBTScript/OvertimeScript") 
@Scripts.Render("~/bundles/AjourBTScript/CRUD_CalendarItems")

<div id="tabsABM" class="PuTab" style="height: 100%">
    <ul>
        <li><a href="@Url.Action("Index","Country")">Countries</a></li>
        <li><a href="@Url.Action("GetHoliday","Holiday")">Holidays</a></li>
        @{
            if (WebConfigurationManager.AppSettings["IncludeAbsence"] == "true")
            {
                <li><a href="#tabs-25">Calendar</a></li>
            }
        }
        <li><a href="@Url.Action("GetJourney","Journey")">Days From BT</a></li>
        <li><a href="#tabs-26">WTR</a></li>
        <li><a href="#tabs-29">Absence</a></li>
    </ul>
   @{
    if (WebConfigurationManager.AppSettings["IncludeAbsence"] == "true")
    {
        <div id="tabs-25" style="height: 91%"></div>
    }
    }
    <div id="tabs-26">@{Html.RenderAction("GetWTR", "WTR");}</div>
    <div id="tabs-29">@{Html.RenderAction("GetAbsence", "Absence");}</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-25]').click(function () {
            $.ajax({
                cache: false,
                url: "/Calendar/GetCalendar",
                type: "GET",
                data: { selectedDepartment: "" },
                success: function (data) {
                    $("#tabs-25").html($(data));
                }
            });
        })
    })
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-27]').click(function () {
            $.ajax({
                cache: false,
                url: "/Journey/GetJourney",
                type: "GET",
                data: { searchString: "" },
                success: function (data) {
                    $("#tabs-27").html($(data));
                }
            });
        })
    })
</script>*@

@*<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-28]').click(function () {
            $.ajax({
                cache: false,
                url: "/Overtime/GetOvertime",
                type: "GET",
                data: { searchString: "" },
                success: function (data) {
                    $("#tabs-28").html($(data));
                }
            });
        })
    })
</script>*@

<script type="text/javascript"> 
    $(document).ready(function () {
    $('[href=#tabs-27]').click(function () {
        sortTable = $('#journeysViewABM').DataTable({
                "sScrollY": "415px",
                "bPaginate": false,
                "bDestroy": true,
                "bFilter": false,
                "bStateSave": false,
                "bScrollCollapse": true,
                "aaSorting": [],
                "aoColumns": [
                    null,
                    null,
                    null,
                    { "sType": "date" },
                ],
            })
            $("div.dataTables_scrollBody").scrollTop(window.scrollPositionACC);
        });
    });
</script>