@model AjourBT.Domain.Entities.Location

@{
    ViewBag.Title = "Add new Location";
    Layout = null;
}

@using (Ajax.BeginForm("LocationCreate","PU",new AjaxOptions{HttpMethod = "POST", OnSuccess = "LocationCreateOnSuccess"}, new {id = "createLocationForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Location</legend>
        <table>
            <tr>
                <td>@Html.Label("Country")</td>
                <td>
                    @Html.DropDownList("CountryID", (SelectList)ViewBag.CountryList, "<Choose country>")
                    <br />   @Html.ValidationMessageFor(model => model.CountryID)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Title)</td>
                <td>
                    @Html.EditorFor(model => model.Title)
                <br />  @Html.ValidationMessageFor(model => model.Title)
                    <div id="LocationCreateModelError" style="max-width: 400px; color: red"></div>

            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.Address)</td>
            <td>
                @Html.EditorFor(model => model.Address)
            <br />  @Html.ValidationMessageFor(model => model.Address)
        </td>
    </tr>

            <tr>
                <td>@Html.Label("Responsible")</td>
                <td>
                    @Html.EditorFor(model => model.ResponsibleForLoc)
                    <br />  @Html.ValidationMessageFor(model => model.ResponsibleForLoc)
                    <div id="LocationEditModelError" style="max-width: 400px; color: red"></div>
                </td>
            </tr>
</table>
</fieldset>
}

<script type="text/javascript">
    clearTimeout(timer);
    timer = window.setTimeout(function () { location.reload(); }, timeout);
</script>

