@model AjourBT.Domain.Entities.Position

@{
    ViewBag.Title = "Add new Position";
    Layout = null;
}

<h4>Add new Position</h4>

@using (Ajax.BeginForm("PositionCreate","PU",new AjaxOptions{@*UpdateTargetId = "PositionData",*@ HttpMethod = "POST", OnSuccess = "PositionCreateOnSuccess"}, new {id = "createPositionForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Position</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TitleEn)
                </td>
                <td>
                    @Html.EditorFor(model => model.TitleEn)
                <br />  @Html.ValidationMessageFor(model => model.TitleEn)
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.TitleUk)</td>
            <td>
                @Html.EditorFor(model => model.TitleUk)
            <br />  @Html.ValidationMessageFor(model => model.TitleUk)
        </td>
    </tr>
</table>
</fieldset>
}
