@model AjourBT.Domain.Entities.LocalPasswordModel

<h3>Change password</h3>
<script>
    $(function () {
        $("#changePasswordButton")
          .button()
    });
</script>
@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.OldPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.OldPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
            </tr>
        </table>
        <input type="submit" id="changePasswordButton" value="Change password" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" />
    </fieldset>
}
