@model AjourBT.Domain.Entities.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.NewPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </td>
            </tr>
        </table>
        <input type="submit" value="Set password" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"/>
    </fieldset>
}
